pre {
  background-color: #eee;
  color: #000;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  counter-reset: line;
}
code {
  counter-increment: line;
}
code::before {
  content: counter(line);
}
:root {
  --text-color: black;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
}
