* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
pre {
  background-color: #eee;
  color: #000;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  counter-reset: line;
}
code {
  counter-increment: line;
}
code::before {
  content: counter(line);
}
.exercise {
  margin: auto;
  width: 85%;
}
.equation {
  background-color: blanchedalmond;
  border-radius: 22px;
  margin: auto;
  max-width: 250px;
}

#switch {
  display: inline;
}
#solution1 {
  display: none;
}
#hideResult {
  display: none;
}
