pre {
  background-color: #eee;
  color: #000;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  counter-reset: line;
}
code {
  counter-increment: line;
}
code::before {
  content: counter(line);
}
#switch {
  display: inline;
}
#solution1 {
  display: none;
}
#hideResult {
  display: none;
}
